<ion-header>
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="store()">Store Document</ion-button>
  <ion-button expand="block" (click)="clear()">Clear Storage</ion-button>
  <ion-button expand="block" (click)="display('_self')">Google Self</ion-button>
  <ion-button expand="block" (click)="display('_blank')">Google Blank</ion-button>
  <ion-button expand="block" (click)="display('_system')">Google System</ion-button>
</ion-content>
